@using Petrovskaya_90311.Blazor.Data

@if (Animals == null)
{
    <p>Загрузка ...</p>
}
else
{
    <div class="list-group">
        @{
            var i = 1;
            foreach (var animal in Animals)
            {
                <button type="button" 
                        class="list-group-item list-group-item-action
                    @(SelectedId == animal.AnimalId ? "active" : "")"
                    @onclick="@(e => Selected(e, animal.AnimalId))">
                    @(i++) - @animal.AnimalName
                </button>
            }
        }
    </div>
}

@code
{
    [Parameter]
    public IEnumerable<AnimalListViewModel> Animals { get; set; }
    [Parameter]
    public EventCallback<IEnumerable<AnimalListViewModel>> AnimalsChanged { get; set; }

    private int SelectedId = 0;
    [Parameter]
    public EventCallback<int> SelectedObjectChanged { get; set; }

    private void Selected(MouseEventArgs e, int id)
    {
        SelectedId = id;
        SelectedObjectChanged.InvokeAsync(id);
    }
}